chromadb
groq
sentence_transformers
neo4j 
dotenv
uuid
pdfplumber
streamlit
pandas 
plotly
sqlalchemy
uvicorn
fastapi
pydantic
alembic
passlib==1.7.4
pymysql
google.generativeai
gtts
pydantic[email]
bcrypt==4.1.3
matplotlib
seaborn